<table >
  <thead>
    <tr>
      <th>Platillo</th>
      <th>Cantidad</th>
      <th>Precio Unitario</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let platillo of shoppingCart">
      <td>{{platillo.platillo.nombre}}</td>
      <td>{{platillo.cantidad}}</td>
      <td>{{platillo.platillo.precio| currency}}</td>
      <td>{{platillo.total | currency}}</td>
    </tr>
  </tbody>
  <tfoot>
    <th colspan="3">Total:</th>
    <th>{{GetTotal() | currency}}</th>
  </tfoot>
</table>
