<div class="restaurant-title"><h1>La Buena Vida</h1>
<h4>Restaurante</h4>
</div>
<mat-tab-group mat-stretch-tabs class="">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Inicio
    </ng-template>
    <home></home>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">menu</mat-icon>
      Menú
    </ng-template>
    <res-menu></res-menu>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">contact_page</mat-icon>
      Contacto
    </ng-template>
    <res-contact></res-contact>
  </mat-tab>
</mat-tab-group>
