<mat-tab-group mat-stretch-tabs class="">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">home</mat-icon>
      Inicio
    </ng-template>
    Content 1
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">menu</mat-icon>
      Menú
    </ng-template>
    Content 2
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">contact_page</mat-icon>
      Contacto
    </ng-template> Content 3
  </mat-tab>
</mat-tab-group>
